* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*To box model*/
}

body {
  background-color: #ebf2ff;
  font-family: 'merriweather', sans-serif;
  /* overflow: hidden; */
}
.button_primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  background-color: white;
}

.navbar_brand,
.foot_logo {
  width: 100px;
}
.navbar_logo {
  width: 100%;
}
.hero_container {
  width: 100%;
}
.hero_image_container {
  width: 100%;
}
.hero_image {
  width: 100%;
}
.hero_text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
}
.food_menu_card {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 15px;
}
.explore_menu_text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
  text-align: center;
}
.food_image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.food_menu_card_description {
  padding: 20px;
}
.explore_menu_view_more {
  display: flex;
  justify-content: center;
}

.restaurants_grid_row_one,
.restaurants_grid_row_two {
  width: 100%;
  display: flex;
  gap: 4px;
}
.restaurants_grid_row_one {
  align-items: baseline;
  margin-bottom: 4px;
}
.restaurnts_1_image,
.restaurnts_2_image,
.restaurnts_3_image,
.restaurnts_4_image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.restaurnts_1,
.restaurnts_4 {
  width: 100%;
  height: 150px;
}
.restaurnts_2,
.restaurnts_3 {
  width: 120%;
  height: 200px;
}
.restaurants_text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .navbar_brand {
    width: 150px;
  }
  .button_primary {
    padding: 20px;
    font-size: 17px;
  }
  .hero_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .explore_menu_lists {
    margin-top: 50px;
    display: flex;
    gap: 9px;
  }
  #pizza_card {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .restaurants_description {
    font-size: 40px;
    width: 100%;
  }
  .restaurants_container {
    display: flex;
    align-items: center;
  }
  .restaurants_grid {
    width: 100%;
  }
}
.explore_menu_container,
.last {
  position: relative;
}
.explore_menu_gradient_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  z-index: -3;
  transform: skewY(-3deg);
}

@media (min-width: 1020px) {
  .container {
    max-width: 1010px;
  }
  /* .hero_image_container {
     width: 500px;
    height: 500px;
  } */
  .hero_text {
    font-size: 50px;
  }
  .explore_menu_lists {
    gap: 20px;
    padding: 0 20px;
  }
  .explore_menu_text {
    font-size: 50px;
  }
  .restaurants_container {
    margin-top: 30px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
.search_key {
  position: relative;
  text-align: center;
  color: black;
  margin-top: -20px;
}
.search_container {
  position: relative;
}
.search_image {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  filter: blur(6px);
  /* -webkit-filter: blur(6px); */
}

/*search with text and button*/
.search_text {
  font-size: 20px;
  color: #1d3557;
  margin: 20px 0;
}
.search_key {
  width: 100%;
  height: 80px;
  align-items: center;
}

#in1 {
  width: 200px;
  height: 40px;
  align-items: center;
  border: 2px solid #dd2476;
  border-radius: 5px;
}
.img_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
@media (min-width: 1025px) {
  #in1 {
    width: 400px;
    height: 60px;
  }
  .search_text {
    font-size: 40px;
    color: #1d3557;
    margin: 20px 0;
    text-align: center;
  }
  .img_text {
    font-size: 25px;
  }
}
/*footer*/
.footer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_bg1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  z-index: -3;
  border-radius: 5px;
}
.foot_text {
  color: white;
}
.foot_logo {
  height: 80px;
  width: 80px;
  color: white;
  margin-top: 50px;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* last image*/

.img_image {
  position: relative;
  text-align: center;
  color: white;
}
/* .img_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
} */
.search_image {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  filter: blur(6px);
  /* -webkit-filter: blur(6px); */
}
